<footer class="tc">
    <ul class="list pa2 flex justify-center mb1 ph2">
      <li class="pa2"><a class="link dim black" href="https://www.facebook.com/" aria-label="Facebook"><i class="fab fa-facebook"></i></a></li>
      <li class="pa2"><a class="link dim black" href="https://www.instagram.com/" aria-label="Instagram"><i class="fab fa-instagram"></i></a></li>
      <li class="pa2"><a class="link dim black" href="https://twitter.com/" aria-label="Twitter"><i class="fab fa-twitter"></i></a></li>
      <li class="pa2"><a class="link dim black" href="https://github.com/jfgonzalez7/academy-project" aria-label="Github Project"><i class="fab fa-github"></i></a></li>
    </ul>
    <div class="copy pb3">
      <small>&copy; Copyright 2020 Shoppery</small>
    </div>
  </footer>