.messageAlert {
    position: fixed;
    width: calc(100%-60px);
    left: 60px;
    top: 60px;
    z-index: 2000;
}

.button.btn-close-message {
    border-radius: 50%;
    background-color: rgba(0,0,0,0.3);
    color: white;
    padding: .5em;
    opacity: 1;
    font-size: .9em;
    z-index: 100;
    position: relative;
}

.alert{
    padding: 12px 20px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}