<h2 class="title-text">Create clients</h2>

<div class="container">
  <form (submit)="saveCliente()" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="enter name" ([ngModel])="name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Phone number</mat-label>
      <input matInput placeholder="enter phone" ([ngModel])="phone">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Address</mat-label>
      <input matInput placeholder="enter your address" ([ngModel])="address">
    </mat-form-field>
    <br>
    <br>
    <br>
    <button mat-button color="primary" type="submit">Save</button>
  </form>
</div>