$blue: #6b879f;
$orange: #ce794b;
$white: #dfd9c6;
$secondary: #8c8283;
$tertiary: #ad7d67;

@import 'https://unpkg.com/tachyons@4/css/tachyons.min.css';

body { 
    margin: 0; 
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;
}

table {
    width: 80vw;
}

.mat-column-nombre, 
.mat-column-direccion, 
.mat-column-telefono {
    max-width: 70px;
}

tr.mat-footer-row, tr.mat-row {
    height: 60px !important;
}

main {
    min-height: calc(100vh - 67px - 89px);
}

.navbar-brand {
    background-color: $white;
    border-top: 6px solid $orange;
}

.cta-btn {
    background-color: $orange;
}

footer {
    background-color: $tertiary
}
