<nav class="menu">
  <h3 class="menu-label f4 mb2 red">Menu</h3>
  <div class="menu-list flex flex-column">
    <a class="link dark-gray hover-near-white hover-bg-red pa2 br2 br--right b--red bw2 bl" routerLink="/home" routerLinkActive="router-link-active">
      <span>Home</span>
    </a>
    <a class="link dark-gray hover-near-white hover-bg-red pa2 br2 br--right" routerLink="/products">
      <span>Products</span>
    </a>
    <br>
    <br>
  </div>
  <h3 class="menu-label f4 mb2 red">Admin</h3>
  <div class="menu-list flex flex-column">
    <a class="link dark-gray hover-near-white hover-bg-red pa2 br2 br--right" routerLink="/clients" routerLinkActive="router-link-active">
      <span>Clients</span>
    </a>
    <a class="link dark-gray hover-near-white hover-bg-red pa2 br2 br--right" routerLink="/clients/add" routerLinkActive="router-link-active">
      <span>Create client</span>
    </a>
    <br>
  </div>
</nav>